<h1 style="text-align: center; margin: 2rem;">Criar nova campanha</h1>
<div class="login">
    <input type="text" class="inputField" placeholder="titulo" [(ngModel)]="campanha.title">
    <input type="text" class="inputField" placeholder="descrição" [(ngModel)]="campanha.description">
    <input type="text" class="inputField" placeholder="data no formato dia/mes/ano" [(ngModel)]="campanha.finalDate">
    <input type="number"  class="inputField" placeholder="meta" [(ngModel)]="campanha.goal">
    <button type="button" class="button" (click)="submit()">Enviar</button>
</div>