
.barras{
    display: flex;
}

.barra-cinza{
    height: 10px;
    width: 100%;
    background-color: rgb(215, 215, 215);
}
.barra-verde{
    background-color: gray;
    color: green;
    height: 10px;
    border: none;
    width: 100%;
}

progress{
    background-color: green;
}

.doacao-container{
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    display:flex;
    flex-direction: column;
    margin-top: 10%;
    width: 30%;
    height: 70%;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2), -3px -3px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.inputField{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px var(--black) solid;
    color: var(--black);
}
