<h1 class="header">
    Me Ajude!
</h1>

<div class="login">

    <input type="text" placeholder="email" class="inputField" id="email" [(ngModel)]="email" >
    <br>
    <input type="password" placeholder="password" class="inputField" id="password" [(ngModel)]="password">
    <br>
    <input type="text" placeholder="name" class="inputField" id="name" [(ngModel)]="name">
    <br>
    <input type="number" placeholder="phone" class="inputField" id="phone" [(ngModel)]="phone">
    <br>
    <input type="text" placeholder="CPF" class="inputField" id="CPF" [(ngModel)]="document.content">
    <p style="transform: translate(-50%, 0); text-align: center;">Já tem uma conta? <a href="/login">entrar</a></p>
    <br>
    <button type="button" class="button" (click)="signup()">login</button>

</div>

